{% extends 'customers/main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">

        <div class="col col-md-8 offset-md-2">
          
          <div class="jumbotron jumbotron-fluid">
            <a href="{% url 'create-product' %}" class="btn btn-primary">Create Product</a>      
            <hr>
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>Products</th>
                    <th>size</th>
                    <th>price</th>
                    <th>Description</th>
                    <th>Date_created</th>
    
                  </tr>
                </thead>
                <tbody>
                  {% for product in products %}
                  <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.size}}</td>
                    <td>{{ product.price}}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.date_created }}</td>
                    <td><a href="{% url 'update-Product' product.id %}" class="btn btn-sm btn-primary">Update</a></td>
                    <td><a href="{% url 'delete-Product' product.id %}" class="btn btn-sm btn-danger">Delete</a></td>
                   
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
        </div>
    </div>
    </div>

{% endblock %}
